ul {
    padding: 0px;
    margin: 20px auto;
    width: 1200px;
}

li {
    display: inline;
}

.image-thumbnail {
    margin: 5px;
    border: 4px solid #eee;
    box-shadow: #555 1px 1px 8px 1px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}